<div class="has-backgroud-green full-width-container">
  <div class="container has-backgroud-white">

    <h1>Blogs</h1>
    <div class="columns">
      <%= render partial: 'blogs.html.erb', collection: @blogs %>
    </div>

    <br>
  </div>
</div>
