<div class="container about-me">
  <div class="panel">
    <p>Acerca de mi</p>
    <p>Me llamo Galilea, tengo 22 años y soy ingeniera de software, actualmente laboro en michelada.io</p>
    <p>Con poco mas de 1 año de experiencia trabajando con Ruby on Rails</p>
    <p>Experiencia en:</p>
    <ul>
      <li>Ruby On Rails</li>
      <li>Minitest / Capybara</li>
      <li>Postgresql / MySQL</li>
      <li>HTML / CSS</li>
      <li>Javascript</li>
      <li>jQuery / Stimulus.js Amazon AWS</li>
    </ul>
  </div>
</div>
