<div class="has-backgroud-green full-width-container">
  <div class="container has-backgroud-white">

    <h1> Profile</h1>
    <div class="columns">
      <%= render 'form.html.erb'%>
    </div>
    <br>
  </div>
</div>

