<div class="has-backgroud-green full-width-container">
  <div class="container has-backgroud-white">

    <h1> Profile</h1>
    <p><%= @profile.name%></p>
    <p><%= @profile.work%></p>

    <br>
  </div>
</div>

